body {
    background-color: rgb(230, 137, 137);
}


h1,
p {
    margin: 1em auto;
    text-align: center;
    font-family: Papyrus;
}


.attribute {
    padding-left: 1rem;
    display: block;
    font-weight: bold;
    font-size: 18px;
    font-family: Asian;
}

.text-box {
    margin: 10px 0;
    width: 400px;
    min-height: 1.8rem;
}

form {
    width: 100vw;
    margin: 0 auto;
}

fieldset {
    width: 100%;
    padding: 1rem 2rem;
    margin: 2rem 0;
    box-shadow: 0 5px 20px 0 rgba(83, 14, 14, 0.8);
    border: none;

}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}


input[type="submit"] {
    padding: 1px 2px;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #bc5757;
    border-color: white;
    min-width: 300px;
    font-family: Papyrus;
}


.option {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.option input {
    margin-right: 1em;
}